@font-face {
    font-family: 'Asked'; 
    src: url('../fonts/Glen Jan - AsketExtended-Light.otf') format('opentype'); 
    font-weight: normal; 
    font-style: normal; 
  }

body {
    margin: 0 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

.mainMenu {
    width: 35%;
    height: 6vh;
    background-color: rgba(66, 66, 66, 0.4);
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    backdrop-filter: blur(12px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    -webkit-backdrop-filter: blur(12px);
     position: fixed; /* Lo fija en la pantalla */
    top: 1em;
    left: 32.5%;
    z-index: 1000;
    transition: top 0.3s ease-out;
}

.mainMenu.hidden {
    top: -7vh; /* Mueve el menú completamente fuera de la vista hacia arriba */
}

.mainMenuBoxes {
    font-family: 'Asked';
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.7rem, 0.5rem + 0.5vw, 1rem);
    color: rgba(224, 224, 224, 0.85);
}

@media screen and (max-width: 1000px) {
    .mainMenu {
        width: 60vw;
        left: 20vw;
    }
    .divNamePage {
    width: 10%;
    text-align: left;
    
    }
    .divNamePage h1 {
    font-size: 1rem;
    margin-right: 60% ;
    margin-left: 30%;
    }
    .others button{
    
    margin-right: 30% ;
    margin-left: 60%;
    color: rgba(224, 224, 224, 1);
    }

    

    .downloadLogo {
    display: none;
    }
}


.mainDiv {
    height: 100vh;
    width: 100vw;
    background-color: rgb(20, 20, 20);
    background-image: url('../multimedia/bbblurry.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.superiorDivMain {
    width: 100vw;
    height: 9%;
    color: aliceblue;
    display: flex;
    flex-direction: row;
    font-family: 'Asked';
    color: rgba(224, 224, 224, 0.9);
}

.divNamePage {
    width: 32.5%;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: clamp(0.7rem, 0.5rem + 0.5vw, 1rem);
}

.invisibleSpace {
    width: 35%;
}

.others {
    width: 32.5%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.others button {
    font-size: clamp(0.7rem, 0.5rem + 0.5vw, 1rem);
    width: 35%;
    height: 77%;
    background-color: transparent;
    color: rgba(224, 224, 224, 0.9);  
    border: 2px solid;
    border-color: rgba(138, 163, 218, 0.425);
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Asked';
}

.others button:hover {
  transform: scale(1.05); /* Aumenta ligeramente el tamaño */
  box-shadow: 0 0 15px rgba(167, 101, 167, 0.7); /* Sombra morada */
}

.downloadLogo {
    width: 10%;
    filter: invert(1);
    margin-left: 10%;
}